@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.cta_btn {
    color: white;
    font-size: 18px;
    font-weight: 700;
    width: 170px;
    padding: 12px 47px;
    background-color: #3882f6;
    border-radius: 10px;
}

.cta_btn:hover {
    background-color: rgb(206, 65, 94);
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header .header {
    min-height: 8vh;
    background-color: rgb(31, 41, 55, 0.24);
}

#header .nav_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1100px;
    padding: 0 10px;
}

#header .nav_bar-logo h1 {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

#header .nav_bar-menu ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

#header .nav_bar-menu ul a {
    color: #f9faf8;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

#hero {
    background-image: url(./images/hero_bg.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
}

#hero .hero {
    max-width: 1100px;
    margin: 0 auto;
    justify-content: flex-start;
    gap: 101px;
}

#hero .hero_text-content {
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 376px;
    padding-left: 15px;
}

#hero .hero_text-content h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 25px;
}

#hero .hero_text-content p {
    color: #e5e7eb;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 47px;
}

#hero .hero_text-content .cta_btn {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#hero .hero-image {
    border-radius: 20px;
    width: 550px;
    height: 430px;
    box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.5);
}

#services {
    width: 100vw;
}

#services .services {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
}

#services .services_title {
    width: 1100px;
    margin-bottom: 59px;
    text-align: center;
}

#services .services_title h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

#services .services_content {
    display: flex;
    width: 1100px;
    justify-content: space-between;

}

#services .service-item {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#services .service-item img {
    width: 224px;
    height: 224px;
    border: 5px solid #3882F6;
    border-radius: 20px;
    transition: box-shadow .5s;
}

#services .service-item:hover img {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

#services .service-item h3 {
    color: #1f2937;
    font-size: 24px;
    font-weight: 700;
    margin-top: 26px;
    transition: color .5s;
}

#services .service-item:hover h3 {
    color: #3882F6;
}